body{
    width: 100vw;
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Subject{
    margin: 20px;
    font-size: 20px;
}

#StartStopButton{
    font-size: 30px;
    width: 45%;
    height: 0;
    padding-top: calc(12% - 30px);
    padding-bottom: 12%;
}

#Timer{
    font-size: 50px;
}

#TotalStudy,#DayStudy{
    text-align: center;
}